<form method="post" id="myform" action="__ACTION__">
    <input type="hidden" name="id" value="{$data.id}" />
    

    <div class="form-group">
		<div class="label">
			<label for="parentid">上级栏目</label>
		</div>
		<div class="field">
			<select class="input" name="parentid" id="parentid">
				<option value="0">顶级栏目</option>
                <volist name=":getRuleList()" id="v">
                    <option value="{$v.id}" <eq name="v.id" value="$data['parentid']"> selected="selected" </eq> >{$v.html}{$v.title}</option>
                </volist>
			</select>
		</div>
	</div>
	<div class="form-group">
		<div class="label">
			<label for="title">权限名称</label>
		</div>
		<div class="field">
			<input type="text" class="input" id="title" name="title"  value="{$data.title}" placeholder="请输入权限名称" />
		</div>
	</div>
	<div class="form-group">
		<div class="label">
			<label for="name">权限规则</label>
		</div>
		<div class="field">
			<input type="text" class="input" id="name" name="name"  value="{$data.name}" placeholder="请输入权限规则" />
		</div>
	</div>
	
    <div class="form-group">
		<div class="label">
			<label for="condition">权限条件</label>
		</div>
		<div class="field">
			<input type="text" class="input" id="condition" name="condition"  value="{$data.condition}" placeholder="请输入权限条件" />
		</div>
	</div>
	
    <div class="form-group">
		<div class="label">
			<label for="ordernum">序号</label>
		</div>
		<div class="field">
			<input type="text" class="input" id="ordernum" name="ordernum"  value="{$data.ordernum}" placeholder="请输入排序ID" />
		</div>
	</div>
   
	<div class="form-group">
		<div class="label">
			<label>是否启用</label>
		</div>
		<div class="field">
			<div class="button-group radio">

                <eq name="data['status']" value="1">
                    <label class="button active">
					    <input name="status" value="1"  checked="checked"  type="radio"><span class="icon icon-check"></span> 启用
				    </label>
                    <label class="button">
					    <input name="status" value="0"  type="radio"><span class="icon icon-check"></span> 禁用
				    </label>
                <else/>
                    <label class="button">
					    <input name="status" value="1"  type="radio"><span class="icon icon-check"></span> 启用
				    </label>
                    <label class="button active">
					    <input name="status" value="0"  checked="checked"  type="radio"><span class="icon icon-check"></span> 禁用
				    </label>
                </eq>

			</div>
		</div>
	</div>
   


    <div class="form-button">
		<button class="button" type="button" onClick="AjaxForm('#myform')" >保存</button>
	</div>
</form>