<div class="margin-large-bottom my-title-bg padding border">
    <a class="button bg-main mydelall"><i class="icon-trash-o"></i> 批量删除</a>
    <a href="add.html" class="button bg-sub"><i class="icon-plus"></i> 添加用户组</a>
</div>

<div class="panel">
    <div class="panel-head">用户组管理</div>
	<div class="panel-body">
        <table class="table table-hover my-table">
            <tr>
                <th><input type="checkbox" name="" value=""></th>
                <th>ID</th>
                <th>用户组名称</th>
                <th>状态</th>
                <th>序号</th>
                <th>备注</th>
                <th>操作</th>
            </tr>
            <volist name="list" id="v">
            <tr>
                <td><input type="checkbox" name="id" value="{$v.id}"></td>
                <td>{$v.id}</td>
                <td>{$v.title}</td>
                <td>{$v.status}</td>
                <td>{$v.order}</td>
                <td>{$v.remark}</td>
                <td><a href="{:U('group_access',array('id'=>$v['id']))}" class="icon-magic margin-right">授权</a> <a href="{:U('edit',array('id'=>$v['id']))}" class="icon-pencil margin-right">编辑</a> <a href="javascript:;" data-id="{$v.id}" class="icon-times mydel">删除</a></td>
            </tr>
            </volist>
        </table>
        
	</div>
    <div class="panel-foot text-center">
		<div class="pagination pagination-group mypage">{$page}</div>
	</div>
</div>