<form method="post" id="myform" action="__ACTION__">
    <input type="hidden" name="Id" value="{$data.id}" />
	<div class="form-group">
		<div class="label">
			<label for="name">用户名</label>
		</div>
		<div class="field">
			<input type="text" class="input" id="name" name="name"  value="{$data.name}" placeholder="请输入用户名" />
		</div>
	</div>
	<div class="form-group">
		<div class="label">
			<label for="pwd">密码（为空时不修改）</label>
		</div>
		<div class="field">
			<input type="password" class="input" id="pwd" name="pwd"  value="" placeholder="请输入密码" />
		</div>
	</div>
	
    <div class="form-group">
		<div class="label">
			<label for="email">邮箱</label>
		</div>
		<div class="field">
			<input type="text" class="input" id="email" name="email"  value="{$data.email}" placeholder="请输入邮箱" />
		</div>
	</div>
    <div class="form-group">
		<div class="label">
			<label for="nickname">昵称</label>
		</div>
		<div class="field">
			<input type="text" class="input" id="nickname" name="nickname"  value="{$data.nickname}" placeholder="请输入昵称" />
		</div>
	</div>
    

	<div class="form-group">
		<div class="label">
			<label>是否启用</label>
		</div>
		<div class="field">
			<div class="button-group radio">

                <eq name="data['state']" value="0">
                    <label class="button active">
					    <input name="state" value="0"  checked="checked"  type="radio"><span class="icon icon-check"></span> 启用
				    </label>
                    <label class="button">
					    <input name="state" value="1"  type="radio"><span class="icon icon-check"></span> 禁用
				    </label>
                <else/>
                    <label class="button">
					    <input name="state" value="0"  type="radio"><span class="icon icon-check"></span> 启用
				    </label>
                    <label class="button active">
					    <input name="state" value="1"  checked="checked"  type="radio"><span class="icon icon-check"></span> 禁用
				    </label>
                </eq>

			</div>
		</div>
	</div>
   
    
    <div class="form-button">
		<button class="button" type="button" onClick="AjaxForm('#myform')" >保存</button>
	</div>
</form>