<!DOCTYPE html>
<html lang="zh-cn">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="renderer" content="webkit">
        <meta name="author" content="{:C('SYSTEM_AUTHOR')}">
        <meta name="keywords" content="{:C('SYSTEM_KEYWORDS')}">
        <meta name="description" content="{:C('SYSTEM_DESCRIPTION')}">
		<title>{:C('SYSTEM_WEBNAME')}-[title]</title>
		
		<link rel="stylesheet" href="__STATIC__/css/admin.css">
		<link rel="stylesheet" href="__Lib__/pintuer/pintuer.css">
		<link rel="shortcut icon" href="/favicon.ico"/>
		<link rel="bookmark" href="/favicon.ico"/>

		

	</head>

	<body>